<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>



	<body>

		<div class="container">
			<center><h2>Contact Us!</h2></center>

			<%= flash[:notice] %>

			<%= form_tag("/static_pages/thank_you") do %>

	      <div class="form-group">
	        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", type:"text", :required => true %>
	      </div>     

	      <div class="form-group">
	        <%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", type:"text", :required => true %>
	      </div>

	      <div class="form-group">
	        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", type:"text", :required => true %>
	      </div>      
		  <%= submit_tag "Send", class: "btn btn-primary send-button" %>   
		  <% end %>
		  
		</div>




		<center><div class="location">
		  <h3><b><span class="glyphicon glyphicon-map-marker"></span> Location: Wrangelstraße 14 10227 Berlin, Germany</b></h3>
		</div></center><!-- end location -->

		<center><div class="phone">
		  <h3><b><span class="glyphicon glyphicon-phone"></span> Phone: +49 30 20954518</b></h3>
		</div></center><!-- end phone -->

		<center><div class="email">
		  <h3><b><span class="glyphicon glyphicon-envelope"></span> Email: inquiries@bikeberlin.com</b></h3>
		</div></center><!-- end email -->
	</body>

</html>












