<!DOCTYPE html>
<html>
  <head>
    <title>Bike Berlin</title>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>



  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  	<nav class="navbar navbar-inverse navbar-fixed top">
      <div class="container-fluid">
  		  <ul class="nav nav-pills">
  		    <li role="presentation"><b><%= link_to "HOME", root_path %></b></li>
  		    <li role="presentation"><b><%= link_to "ABOUT", simple_pages_about_path %></b></li>
  		    <li role="presentation"><b><%= link_to "CONTACT", simple_pages_contact_path %></b></li>
  		  </ul>

        <ul class="nav pull-right">
          <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
          </li>
        </ul>

        <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
          <%= form.label :q, 'Search for:' %>
          <%= form.text_field :q, id: 'q', value: params[:q] %>
          <%= form.submit 'Search' %>
        <% end %>
        
      </div>
		</nav>


    <div class="page-container">
      <%= yield %>
    </div>


    <center><footer>
		  &copy; 2018 Bike Berlin
		</footer></center>

  </body>
</html>
